
<div class="container" style="margin-top: 150px;">

  
  <!-- <h2>List of Books</h2> -->
  <!-- <ul class="list-group">
  	<%# @all_books.each do |book| %>
  		<li class="list-group-item">
  			<%#= link_to book.name, book_path(book.id) %><br/>
  		</li>
	<%# end %>
   
  </ul> -->
  <div class="row text-center">
        <div class="col-lg-6 col-md-offset-3">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Authors</h4>
              <!-- <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p> -->
              <a href="/authors" class="btn btn-primary">View All</a>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-offset-3">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Books</h4>
              <!-- <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p> -->
              <a href="/books" class="btn btn-primary">View All</a>
            </div>
          </div>
        </div>

      </div>


</div>

